:local(.timeline_container) {
  height: 100%;
  padding: 0 4em;
  position: relative;
  margin: 0, auto;
}

:local(.timeline_container::after) {
  content: '';
  position: absolute;
  width: 1em;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  /*margin-left: -3px;*/
}
